
.container {
    display: table;
    vertical-align: middle;
}

#register > p > label{
    color: #777;
}

#register > p > input {
    padding-left: 5px;
    margin-left: 10px;
}

#login > p > label{
    color: #777;
}

#login > p > input {
    padding-left: 5px;
    margin-left: 10px;
}

body {
    margin-top: 80px;
}

#friends-sidebar {
    float: left;
    margin: 5px;
    align-content: space-around;
}

#friends-sidebar > img {
    max-height: 90px;
    max-width: 85px;
    
}

#friends-sidebar > p {
    text-align: center;
}

#right-sidebar {
    width: 320px;
}