.forms-wrapper{
    width: 300px;
}

html, body, .container {
    height: 100%;
}

.container {
    display: table;
    vertical-align: middle;
}

#register > p > label{
    color: #777;
}

#register > p > input {
    padding-left: 5px;
    margin-left: 10px;
}

#login > p > label{
    color: #777;
}

#login > p > input {
    padding-left: 5px;
    margin-left: 10px;
}

#footer {
 clear: both;
}